<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><%= link_to "Home", root_path  %></li>
        <li role="presentation"><%= link_to "Clients", clients_path %></li>
        <li role="presentation"><%= link_to "Organizations", organizations_path %></li>
<<<<<<< HEAD
        <li role="presentation"><%= link_to "Housing", housing_index_path %></li>

=======
>>>>>>> a1c4bff4939e56d9a7b4bb66cc304fe75f65c39d
      </ul>
    </nav>
    <h3 class="text-muted">54 Characters</h3>
  </div>
  <div class="jumbotron">
    <h1>Housing Opportunities!</h1>
    <p class="lead">Learn about opportunities in STL.</p>
    <p>Contact a CoC today to get enrolled!</p>
  </div>
  <div class="row marketing">

  </div>
  <hr>
  <footer class="footer">
    <a href="http://www.sdscomputers.com"><p>&copy; 2016 System Development Services, Inc.</p></a>
  </footer>
